<footer id="footer">
  <!-- <mat-toolbar>
    <span>
  <p id="copyright">&#169; 2020 Wooden Window - Team DAVE</p>
  
    <h1>
      Connect with your Future Job or Employee
    </h1>
    <button>
      Sign Up Now!
    </button>
  
    </span>
  </mat-toolbar> -->



  <p>
    <mat-toolbar color="primary">
      <mat-toolbar-row id="footer-row-one">
        
        <h1 id="footer-header">
          Connect with your Future Job or Employee
        </h1>
        
      </mat-toolbar-row>
  
      <mat-toolbar-row id="footer-row-two">
        <button id="footer-button">
          Sign Up Now!
        </button>
      </mat-toolbar-row>
      <mat-toolbar-row id="footer-row-three">
        <p id="copyright">
          &#169; 2020 Wooden Window - Team DAVE
        </p>
      </mat-toolbar-row>
    </mat-toolbar>
  </p>
</footer>
