<footer id="footer">
  <p id="footer-p">
    <mat-toolbar color="primary">
      <mat-toolbar-row id="footer-row-one">
        
        <h1 id="footer-header">
          Connect with your Future Job or Employee
        </h1>
        
      </mat-toolbar-row>
  
      <mat-toolbar-row id="footer-row-two">
        <a class="button is-primary center">
          <strong>Sign up</strong>
        </a>
      </mat-toolbar-row>
      <mat-toolbar-row id="footer-row-three">
        <p id="copyright">
          &#169; 2020 Wooden Window - Team DAVE
        </p>
      </mat-toolbar-row>
    </mat-toolbar>
  </p>
</footer>
