<section class="hero is-dark is-bold is-fullheight">

  
    <div class="hero-body">
      <div class="container has-text-left">
        <p class="title">Wooden Window is the simplest tool used for job searches</p>
        <p class="subtitle">Create a profile and search pages of unless job openings nearby, or maybe even far away... It's up to you!</p>
      </div>
    </div>
  
    <div class="hero-foot">
      <nav class="tabs is-boxed is-fullwidth">
        <div class="container">
            <div class="level">
                <p class="level-item has-text-centered">
                    <img src="https://static.ziprecruiter.com/img/post-homepage/logos/logo-verizon.svg" alt="Verizon" class="logo">
                  </p>
                  <p class="level-item has-text-centered">
                    <img src="https://static.ziprecruiter.com/img/post-homepage/logos/logo-home-depot.svg" alt="The Home Depot" class="logo">
                  </p>
                  <p class="level-item has-text-centered">
                    <img src="https://static.ziprecruiter.com/img/post-homepage/logos/logo-target.svg" alt="Target" class="logo">
                  </p>
                  <p class="level-item has-text-centered">
                    <img src="https://static.ziprecruiter.com/img/post-homepage/logos/logo-bank-of-america.svg" alt="Bank of America" class="logo">
                  </p>
                  <p class="level-item has-text-centered">
                    <img src="https://static.ziprecruiter.com/img/post-homepage/logos/logo-netflix.svg" alt="Netflix" class="logo">
                </p>
            </div>
            <div class="logo_subtext has-text-centered">Just a few of the many companies that depend on Wooden Window for hiring.</div>
        </div>
      </nav>
    </div>
  </section>

  <section class="hero has-background-grey-lighter">
    <div class="hero-body">
      <div class="container">
        <h1 class="has-text-centered">Let's Work Together</h1>
        <h3 class="has has-text-centered">At Wooden Window we are committed to helping you find a job as quickly as possible during these trying time. To learn more, feel free to visit our <a href=""> COVID-19</a> job search resources.</h3>
      </div>
    </div>
  </section>

  
  <section class="hero is-dark is-bold is-medium">
    <div class="hero-head">
    </div>
    <div class="hero-body">
      <div class="columns">
            <div class="column is-two-fifths">
                <h1 class="title has-text-centered">Over 1 Million Jobs</h1>
                <p class="subtitle has-text-centered">With over a million job listings, Wooden Window is the only tool you will need to find your dream job.</p>
            </div>
            <div class="column auto has-text-right is-4">
                <img src="../../assets/images/job-posting.png">
            </div>
      </div>
    </div>
    <div class="hero-foot">
    </div>
  </section>

  <section class="hero is-dark is-bold is-medium">
    <div class="hero-head">
    </div>
    <div class="hero-body">
      <div class="columns">
        <div class="column is-4 has-text-centered ">
            <img src="../../assets/images/job-posting.png">
        </div>
            <div class="column is-5 is-offset-3">
                <span class="icon has-text-warning">
                    <span class="icon">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </span>
                </span>
                <h1 class="title has-text-centered">Top Rated Job Search Service</h1>
                <p class="subtitle has-text-centered">Rated best job search service by Forbes, WallStreet Journal, and Bloomberg.</p>
            </div>
      </div>
    </div>
    <div class="hero-foot">
    </div>
  </section>

  <section class="hero is-dark is-bold is-medium">
    <div class="hero-head">
    </div>
    <div class="hero-body">
      <div class="columns">
            <div class="column is-two-fifths">
                <h1 class="title has-text-centered">Reviews</h1>
                <p class="subtitle has-text-centered">Don't listen to us, listen to those that trust us!</p>
            </div>
            <div class="column auto has-text-right is-4">
                
            </div>
      </div>
    </div>
    <div class="hero-foot">
    </div>
  </section>

  <section class="hero has-background-grey-lighter">
    <div class="hero-body">
      <div class="container">
        <h1 class="has-text-centered">Are you an Employer?</h1>
        <h3 class="has has-text-centered">At Wooden Window we make it easy for employers to post their job openings and find the right employee(s)!</h3>
      </div>
    </div>
  </section>

  <section class="hero is-dark is-bold is-medium">
    <div class="hero-head">
    </div>
    <div class="hero-body">
      <div class="columns">
          <div class="column">
            <h1 class="title has-text-centered">Trending Jobs</h1>
            <ul>
                <li class="item has-text-centered" data-type="more" style="display: list-item;">Virtual Assistant</li>
                <li class="item has-text-centered" data-type="more" style="display: list-item;">Welder</li>
                <li class="item has-text-centered" data-type="more" style="display: list-item;">Online Tutor</li>
                <li class="item has-text-centered" data-type="more" style="display: list-item;">Cannabis Grower</li>
                <li class="item has-text-centered" data-type="more" style="display: list-item;">Software Engineer</li>
                <li class="item has-text-centered" data-type="more" style="display: list-item;">Pharmacist</li>
                <li class="item has-text-centered" data-type="more" style="display: list-item;">Electrician</li>
            </ul>
          </div>
          <div class="column">
            <h1 class="title has-text-centered">Job Categories</h1>
            <ul>
                <li class="item has-text-centered" data-type="more" style="display: list-item;">Technology</li>
                <li class="item has-text-centered" data-type="more" style="display: list-item;">Agriculture</li>
                <li class="item has-text-centered" data-type="more" style="display: list-item;">Education and Training</li>
                <li class="item has-text-centered" data-type="more" style="display: list-item;">Hospitality and Tourism</li>
                <li class="item has-text-centered" data-type="more" style="display: list-item;">Information Technology</li>
                <li class="item has-text-centered" data-type="more" style="display: list-item;">Business Operations</li>
                <li class="item has-text-centered" data-type="more" style="display: list-item;">Arts and Entertainment</li>
                <li class="item has-text-centered" data-type="more" style="display: list-item;">Construction</li>
            </ul>
          </div>
          <div class="column">
            <h1 class="title has-text-centered">Trending Cities</h1>
            <ul>
                <li class="item has-text-centered" data-type="more" style="display: list-item;">Houston</li>
                <li class="item has-text-centered" data-type="more" style="display: list-item;">Atlanta</li>
                <li class="item has-text-centered" data-type="more" style="display: list-item;">Austin</li>
                <li class="item has-text-centered" data-type="more" style="display: list-item;">Denver</li>
                <li class="item has-text-centered" data-type="more" style="display: list-item;">Nashville</li>
                <li class="item has-text-centered" data-type="more" style="display: list-item;">Chicago</li>
                <li class="item has-text-centered" data-type="more" style="display: list-item;">Las Vegas</li>
                <li class="item has-text-centered" data-type="more" style="display: list-item;">Salt Lake City</li>
                <li class="item has-text-centered" data-type="more" style="display: list-item;">Boston</li>
            </ul>
          </div>
          <div class="column">
            <h1 class="title has-text-centered">Trending Companies</h1>
            <ul>
                <li class="item has-text-centered" data-type="more" style="display: list-item;">Costco</li>
                <li class="item has-text-centered" data-type="more" style="display: list-item;">Amazon</li>
                <li class="item has-text-centered" data-type="more" style="display: list-item;">Duke Energy</li>
                <li class="item has-text-centered" data-type="more" style="display: list-item;">Hobby Lobby</li>
                <li class="item has-text-centered" data-type="more" style="display: list-item;">Lowe's</li>
                <li class="item has-text-centered" data-type="more" style="display: list-item;">Tyson Foods</li>
                <li class="item has-text-centered" data-type="more" style="display: list-item;">Hershey</li>
                <li class="item has-text-centered" data-type="more" style="display: list-item;">Tesla</li>
            </ul>
          </div>
      </div>
    </div>
    <div class="hero-foot">
    </div>
  </section>
