# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Eurus\Documents\Revature\Team DAVE\WoodenWindow\backend\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
#IDE metadata
**.idea/**
#Build Code

